<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::div})">
<head>
	<meta charset="UTF-8" />
	<title>Docs</title>
</head>
<body>

	<div class="">
	
		<section class="vh-100" style="background-color: #9A616D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
           
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
              <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
 <span th:text="${session.message.content}"></span>
 <th:block th:text="${@sessionHelper.removeMessageSession()}"></th:block>
</div>

                <form th:action="@{/changepassword}" method="post">
               
                
               


    
                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Reset The Password</h5>



                  <div class="form-outline mb-4 form-group">
                    <input th:value="${sendemail}" name="email" type="hidden" id="form2Example17" class="form-control form-control-lg" />
                   
                  </div>
                  
                   <div class="form-outline mb-4 form-group">
                    <input name="nPass" type="password" id="form2Example17" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17">New password</label>
                  </div>
                  
                   <div class="form-outline mb-4 form-group">
                    <input name="cPass" type="password" id="form2Example17" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17">Confirm New Password</label>
                  </div>



               

                  <div class="pt-1 mb-4 text-center">
                    <button class="btn btn-warning" type="submit">Submit</button>
                  </div>

                 
                 
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
	
	
	</div>

		
	
</body>
</html>